---
---

@import '{{ site.theme }}';

#main-content h1 {
  line-height: 1.2;
  margin-bottom: 16px;
}

#main-content h2 {
  margin-bottom: 16px;
}

.highlight {
  background-color: white;
}

pre.highlight {
  border-radius: 16px;
  box-shadow: 2px 2px 5px #eeeeee;
}
